* {
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
	text-align: center;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	padding-bottom: 2rem;
}

h1 {
	font-size: 5rem;
	margin: 2rem 0;
	word-wrap: break-word;
	word-break: break-word;
}

input {
	font-size: 1.5em;
	font-weight: bold;
	padding: 5px;
	border: 3px solid #444;
	display: inline-block;
	box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

button {
	font-size: 1.5em;
	font-weight: bold;
	padding: 5px;
	display: inline-block;
	margin-left: 1em;
	border: 3px solid #444;
	background-color: white;
	box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

button:hover {
	background-color: whitesmoke;
}

p {
	font-size: 1.2rem;
	color: gray;
}

p a:hover {
	font-weight: 600;
}

p a {
	color: gray;
}